interactions:
- request:
    body: null
    headers:
      Authorization: [CloudSight test-token]
    method: GET
    uri: https://api.cloudsightapi.com/image_responses/BjMGgyIZQt7QNPNZKmzq2A
  response:
    body: {string: '{"token":"BjMGgyIZQt7QNPNZKmzq2A","url":"http://assets.cloudsight.ai/uploads/image_request/image/400/400283/400283464/AAPL.png","ttl":54.0,"status":"completed","name":"Apple
        logo"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"c5ccd989a1f31a8d85afd43ba833b677"]
    status: {code: 200, message: OK}
version: 1
