interactions:
- request:
    body: image_request%5Blocale%5D=en-US&image_request%5Bremote_image_url%5D=https%3A%2F%2Fstorage.googleapis.com%2Fiex%2Fapi%2Flogos%2FAAPL.png
    headers:
      Authorization: [CloudSight test-request]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.cloudsightapi.com/image_requests
  response:
    body: {string: '{"token":"BjMGgyIZQt7QNPNZKmzq2A","url":"http://assets.cloudsight.ai/uploads/image_request/image/400/400283/400283464/AAPL.png","ttl":54.0,"status":"not
        completed"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"3a801d7c51b3f02399179031eb167c61"]
      X-CloudSight-RequestRate: ['1050.259332318744']
    status: {code: 200, message: OK}
version: 1
